// Sprites folder sprite
$sprite-arrow-left-spacing: 25px;
$sprite-arrow-right-spacing: 25px;
$sprite-form-error-x-spacing: 25px;
$sprite-account-icon-1-spacing: 25px;
$sprite-account-icon-2-spacing: 25px;
$sprite-account-icon-3-spacing: 25px;
$sprite-popular-tags-icon-spacing: 25px;
$sprite-popular-tags-icon-hover-spacing: 25px;
$sprite-left-pag-activ-spacing: 25px;
$sprite-left-pag-inactiv-spacing: 25px;
$sprite-right-pag-activ-spacing: 25px;
$sprite-right-pag-inactiv-spacing: 25px;
$sprite-nested-view-activ-spacing: 25px;
$sprite-nested-view-inactiv-spacing: 25px;
$sprite-thumb-view-activ-spacing: 25px;
$sprite-thumb-view-inactiv-spacing: 25px;
$sprite-lightbox-result-icon-spacing: 25px;
$sprite-download-result-icon-spacing: 25px;
$sprite-upload-result-icon-spacing: 25px;
$sprite-radio-dot-spacing: 25px;
$sprite-radio-dot-mobile-spacing: 25px;
$sprite-checkmark-mobile-spacing: 25px;
$sprite-lightbox-close-icon-spacing: 25px;
$sprite-share-btn-icon-spacing: 25px;
$sprite-save-btn-icon-spacing: 25px;

